.clear {
    clear: both;
}

.main_container {
    width: 1439px;
    margin: 0 auto;
    padding: 43px 0px 43px 77px;
    float: left;
}

.header {
    position:relative;
    float: left;
}

.header .logo {
    float: left;
    font-family: 'Crete Round', serif;
    font-size: 34px;
    color: #060c31;
    cursor: pointer;
    transform:translateY(10px);
}

.loaded .header .logo {
    transition: transform 0.2s ease-out 0.1s;
    transform:translate(0);
}

.header .top {
    float: left;
    position: relative;
    margin-left: 561px;
    opacity:0;
    transform:translateY(40px);
}

.loaded .header .top {
    transition: opacity 0.8s ease-out 0.2s,
                transform 0.8s ease-out 0.2s;
    opacity:1;
    transform:translate(0);
}

.menu {
    float:left;
    position: relative;
}

.menu_item {
    display: inline;
}

.menu_link {
    text-decoration: none;
    padding: 0 36px 0px 0px;
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    color: #060c31;
}


.top_button {
    float: right;
    margin-left:3px;
}

.promo {
    position: relative;
    margin-top: 68px;
    margin-left: 113px;
    float: left;
}

.promo_info {
    position: relative;
    margin-top: 100px;
    float: left;

}

.promo_title {
    position: relative;
    font-family: 'Crete Round', sans-serif;
    font-size: 58px;
    color: #060c31;
    margin-top: -7px;
    font-weight: normal;
    line-height: 1.1;
    opacity:0;
    transform: translateY(50px);
}

.loaded .promo_title {
    transition: opacity 0.8s ease-out 0.7s,
                transform 0.8s ease-out 0.7s;
    opacity:1;
    transform:translate(0);
}

.promo_text {
    margin-top: 43px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.87;
    color: #060c31;
    opacity:0;
    transform: translateY(50px);
}

.loaded .promo_text {
    transition: opacity 0.3s ease-out 1.4s,
                transform 0.3s ease-out 1.4s;
    opacity:1;
    transform:translate(0);
}

.promo_button_start {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin: 53px 18px 0 0;
    width: 152px;
    height: 50px;
    border-radius: 25px;
    background-color: #233fe2;
    cursor: pointer;
    border: none;
    opacity:0;
    transform: translateY(50px);
}

.loaded .promo_button_start {
    transition: opacity 0.5s ease-out 1.7s,
                transform 0.5s ease-out 1.7s;
    opacity:1;
    transform:translate(0);
}

.promo_button_create {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 165px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px #ffb0b1;
    background-color: #fff;
    cursor: pointer;
    color: #060c31;
    opacity:0;
    transform: translateY(50px);
}

.loaded .promo_button_create {
    transition: opacity 0.5s ease-out 1.7s,
                transform 0.5s ease-out 1.7s;
    opacity:1;
    transform:translate(0);
}

.top_button .create {
    font-family: 'Lato', sans-serif;
    width: 150px;
    height: 46px;
    font-weight: bold;
    border-radius: 23px;
    border: solid 2px #ffb0b1;
    background-color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.promo_image {
    float:left;
    padding: 29px 0px 0px 48px;
    opacity:0;
    transform: translateY(400px) scale(0.3);
}

.loaded .promo_image {
    transition: opacity 0.8s ease-out 1.9s,
                transform 0.8s ease-out 1.9s;
    opacity:1;
    transform:translate(0) scale(1);
}

.footer {
    float:left;
    margin:96px 86px 0px 425px;
    width:964px;
}

.footer {
    float:left;
    margin:96px 86px 0px 425px;
    width:964px;
    opacity:0;
    transform: translateY(200px);
}

.loaded .footer {
    transition: opacity 0.4s ease-out 2.7s,
                transform 0.4s ease-out 2.7s;
    opacity:1;
    transform:translate(0);
}

.footer .partners .partner {
    display: inline-block;
    list-style: none;
    vertical-align:middle;
    margin-right:104px;
}
